.trash {
    border: solid #E3E3E3;
    width: 200px;
    font-size: 15px;
    height: 225px;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 75px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #35D0BA;
    color: #1F7D53;
}
.recycle {
    background-color: #35D0BA;
    color: #1F7D53;
    border: solid #E3E3E3;
    width: 200px;
    font-size: 15px;
    height: 225px;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 75px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.file-overlay{
    background-color: #35D0BA;
    color: #1F7D53;
    border: solid #E3E3E3;
    width: 275px;
    font-size: 17px;
    padding-top: 121px;
    padding-bottom: 141px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 34px;
    align-items: center;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.compost{
    background-color: #35D0BA;
    color: #1F7D53;
    font-size: 15px;
    border: solid #E3E3E3;
    width: 200px;
    height: 225px;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 75px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}
body {
    text-align: center;
    color: #FFFCFB;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
html {
    background-color: #086972;  
    font-family: 'Roboto', sans-serif;
    display: grid;
    align-items: center;
}
h1 {
    color: #FFFCFB; 
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
}
.text {
    border: solid #E3E3E3;
    border-radius: 10px;
    background-color: #35D0BA;
    color: #1F7D53;
    width: 275px;
    font-size: 17px;
    padding-top: 121px;
    margin-bottom: 20px;
    padding-bottom: 141px;
    display: inline-block;
    margin-top: 35px;
    vertical-align: top;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    p {
        color: #1F7D53;
        font-family: 'Roboto', sans-serif;
    }
}
.photo { 
    border: solid #E3E3E3;
    border-radius: 10px;
    background-color: #35D0BA;
    color: #1F7D53;
    height: 452px;
    font-size: 17px;
    width: 275px;
    margin: 35px 50px 20px 50px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.photo video {
    width: 180px;
    max-width: 50%;
    max-height: 25%;
    border-radius: 6px;
    background: url(https://cdn-icons-png.flaticon.com/512/7779/7779866.png);
    object-fit: cover;
    background-size: 100% 100%; 
    display: block;
    margin: 0.4rem auto;
    font-family: 'Roboto', sans-serif;
}
.photo img#photoPreview {
    display: block;
    width: 180px;
    max-width: 50%;
    max-height:25%;
    margin: 0.4rem auto 0;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
}
.photo-controls {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    margin-top: 0.3rem;
    font-family: 'Roboto', sans-serif;
}
.photo-controls button {
    padding: 0.35rem 0.6rem;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.mainWebsite {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: auto;
    align-items: auto;
}
.canvas { display: none; }

.input-section {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.output {
    color: #FFFCFB;
        font-family: 'Roboto', sans-serif;
}
@media (max-width: 768px) {
    .input-section {
        display: grid;
        grid-template-columns: 275px 275px;
    }
}
